<!DOCTYPE html>

<html>
<head>
<title>index</title>
<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
  rel="stylesheet">
<link rel="stylesheet" href="style.css">
<script type="application/dart" src="index.dart"></script>
<script src="packages/browser/dart.js"></script>
</head>

<body>
<main search-ctrl>
  <header class="app-header">
    <div class="app-header_inner">
      <h1 class="app-logo">
        Git<span class="app-logo_alt">Who</span>
      </h1>
      <span>Find Github users by location.</span>
      <div>
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Location" ng-model="ctrl.location" />
            <a class="btn btn-info" href="" ng-click="ctrl.loadUsers()">Search!</a>        
          </div>
        </form>
      </div>
    </div>
  </header>
  
  <section>
    <div>
      <ul class="content">
        <li class="list-item" ng-repeat="u in ctrl.users">
          <div>
            <img class="github-user-avatar img-circle"
            ng-src="{{u.avatarUrl}}">
          </div>
          <div class="github-user">
            <div class="">
              <a target="_blank" ng-href="{{u.htmlUrl}}">
                <span>{{u.name}}</span>
                <span class="github-user-login">@{{u.login}}</span>
              </a>
            </div>
            <div>
              <span class="github-user-login">{{u.location}}</span>
            </div> 
          </div>
          <br>
        </li>
      </ul>
    </div>
  </section>
</main>
  
</body>
</html>
